/* Common css */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
.common-p {
  color: black;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.common-h3 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

/* header */

.header {
  background: url('./images/banner/banner3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: right;
  justify-content: left;
}
.header-text {
  padding: 216px 230px 364px 845px;
}
.header-h1 {
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.header-btn {
  border: none;
  margin-top: 32px;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
}

/* main section */

.upper-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 140px 250px 0 229px;
}

.person-img {
  padding-right: 87px;
}

.upper-main-text {
  justify-content: center;
  margin-top: 23px;
}

#upper-main-h3 {
  padding-bottom: 24px;
}
.li-p {
  color: black;
}

.my-plans {
  text-align: center;
  margin-top: 150px;
}
.lower-main {
  margin: 50px 130px 135px 130px;
}
.lower-main-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-main-img {
  padding: 80px;
  text-align: center;
}
.lower-main-h3 {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}
.lower-p {
  color: #737272;
  font-size: 19px;
  font-weight: 500;
}

.keep-positive {
  position: relative;
  margin-bottom: 130px;
}

.image {
  display: block;
  width: 100%;
}
.image1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.tags {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.mindset-h1 {
  color: #fff;
  margin-top: 65px;
  margin-left: 64px;
  margin-bottom: 24px;
  margin-right: 617px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.call-now-btn {
  border: none;
  width: 160px;
  height: 64px;
  margin-left: 64px;

  border-radius: 5px;
  background: #fff;
  color: #005fac;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.footer-container {
  background: #151414;
  color: #f8f8f8;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  padding-top: 130px;
  padding-left: 230px;
  padding-bottom: 130px;
  padding-right: 331px;
}
.footer-right {
  padding-top: 130px;
  padding-right: 230px;
  padding-bottom: 240px;
}
.future {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.email-p {
  padding-top: 24px;
  padding-bottom: 16px;
}
.social-img {
  padding-top: 32px;
}
h5 {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 31px;
}
.email {
  padding: 21px 158px 22px 21px;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  border: 1px solid #fff;
  margin-bottom: 16px;
}
.subscribe {
  border: none;
  width: 170.106px;
  height: 64px;
  border-radius: 8px;
  background: #005fac;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
